.markdownlint.json
.vscode

# Mac desktop services store
.DS_Store

# Windows image file cache
Thumbs.db

# Windows folder config file
Desktop.ini

# Jekyll HTML and cache
/_site/
_site/
_site
.jekyll-metadata
*-cache/

